<h2>Add a school to your visits list</h2>

<%= form_for @visit do |f| %>
  <p><%= f.label :school_name, "School Name: " %><br>
    <%= f.text_field :school_name %></p>
  <p><%= f.label :visit_date, "Vist Date: "%><br>
    <%= f.text_field :visit_date, :placeholder => "mm/dd/yyyy"  %></p>
  <p><%= f.label :overall_ranking, "My overall ranking: " %><br>
      <%= f.text_field :overall_ranking, :placeholder => "Rate your visit from 1 to 10" %></p>
<div id="contact_form">
 <p><%= f.label :contact_name, "Contact Name: " %><br>
      <%= f.text_field :contact_name %></p>
 <p><%= f.label :contact_email, "Contact Email: " %><br>
      <%= f.text_field :contact_email %>
 <p><%= f.label :contact_phone, "Contact Phone: " %><br>
      <%= f.text_field :contact_phone %></p>
</div>
  <p><%= f.check_box :in_session %>
    <%= f.label :in_session, "School was in session" %><br>
  <p><%= f.check_box :tour %>
    <%= f.label :tour, "I took a tour" %><br>
  <p><%= f.check_box :interview %>
    <%= f.label :interview, "I did an interview" %><br>
  <p><%= f.check_box :info_session %>
    <%= f.label :info_session, "I attended an info session" %><br>
  <p><%= f.check_box :overnight %>
    <%= f.label :overnight, "I stayed overnight in a dorm" %><br>
  <p><%= f.check_box :class_visit %>
    <%= f.label :class_visit, "I attended a class" %><br>
  </p>


  <%= f.submit "Save" %> <%= button_tag "Cancel",:type => 'button', :onclick => "location.href = '#{visits_url}'" %>
<% end %><br>

<div class="noUiSlider"></div>
