<h3><%= "Visit ID: #{@visit.id} My visit to #{@visit.school_name} on #{@visit.visit_date}" %></h3>
<p><%= "My overall rank of #{@visit.school_name}: #{@visit.overall_ranking}" %><br>
    <h4>Contact Info</h4>
   <%= "Name: #{@visit.contact_name}" %><br>
   <%= "Email: #{@visit.contact_email}" %><br>
   <%= "Phone: #{@visit.contact_phone}" %>
</p>
<p><%= image_tag ("checkmark.png") if @visit.in_session? %>School was in session <br>
   <%= image_tag ("checkmark.png") if @visit.tour? %> I took a tour<br>
   <%= image_tag ("checkmark.png") if @visit.interview? %> I did an interview<br>
   <%= image_tag ("checkmark.png") if @visit.info_session? %> I attended an info session <br>
   <%= image_tag ("checkmark.png") if @visit.overnight? %> I stayed overnight in a dorm <br>
   <%= image_tag ("checkmark.png") if @visit.class_visit? %> I attended a class <br>
</p>
<p>Rankings:</p>
  <% if !@ranking %>
  <p>You haven't ranked your visit yet. Do it now, before you forget what made <%= @visit.school_name %> so amazing or so awful.</p>
  <%= link_to "Add Rankings", new_visit_ranking_path(@visit) %>
    <% else %>
      <p id="visit_rank_list">
        <%= "Campus: #{@ranking.campus}" %><br>
        <%= "Dorms: #{@ranking.dorms}" %><br>
        <%= "Library: #{@ranking.library}" %><br>
        <%= "Majors offered: #{@ranking.majors}" %><br>
        <%= "The students: #{@ranking.students}" %><br>
        <%= "Classrooms: #{@ranking.classrooms}" %><br>
        <%= "Student center: #{@ranking.student_center}" %><br>
        <%= "On-campus food: #{@ranking.food_campus}" %><br>
        <%= "Off-campus food: #{@ranking.food_off_campus}" %><br>
        <%= "Surrounding town/city: #{@ranking.town}" %><br>
        <%= "Intramural sports: #{@ranking.intramural_sports}" %><br>
        <%= "Activities and clubs: #{@ranking.other_activities}" %><br>
      </p>
  <% end %>

<%= button_to "Delete School", visit_url(@visit), :method => :delete %>
<%= link_to "Edit Visit Info", edit_visit_path(@visit.id) %>
<%= link_to "see all schools", visits_path %>
