<h3><%= "#{@visit.school_name}"%><br>
 &nbsp; <%= "visited on #{@visit.visit_date}" %></h3>
<header id="show_page_admin">
  <%= link_to "Edit Visit Info", edit_visit_path(@visit), :class => "user_links", :id => "edit_school_link" %>
  <%= button_to "Delete School", visit_url(@visit), :method => :delete, :id => "delete_school_btn", :class => "" %>
</header>
<% if !@ranking %>
<p id="ranking_prompt">You haven't ranked your visit yet.<br>
  That's the fun part! Get to it!</p>
<%= link_to "Add Rankings", new_visit_ranking_path(@visit), :class => "user_links" %>
  <% else %>
    <div id="visit_rank_list">
      <p class="visit_category">Rankings</p>
      <p class="show_page_font">
        <%= image_tag ("notes_icon.png"), :TITLE=>"View Notes", :id=>"campus_icon", :data => {:note => @ranking.campus_note} %> Campus: <br>
        <%= image_tag ("notes_icon.png"), :TITLE=>"View Notes", :id=>"dorms_icon", :data => {:note => @ranking.dorms_note} %> Dorms:<br>
        <%= image_tag ("notes_icon.png"), :TITLE=>"View Notes"  %> Library:<br>
        <%= image_tag ("notes_icon.png"), :TITLE=>"View Notes"  %> Majors offered:<br>
        <%= image_tag ("notes_icon.png"), :TITLE=>"View Notes"  %> The students:<br>
        <%= image_tag ("notes_icon.png"), :TITLE=>"View Notes"  %> Classrooms:<br>
        <%= image_tag ("notes_icon.png"), :TITLE=>"View Notes"  %> Student center:<br>
        <%= image_tag ("notes_icon.png"), :TITLE=>"View Notes"  %> On-campus food:<br>
        <%= image_tag ("notes_icon.png"), :TITLE=>"View Notes"  %> Off-campus food:<br>
        <%= image_tag ("notes_icon.png"), :TITLE=>"View Notes"  %> College town/city:<br>
        <%= image_tag ("notes_icon.png"), :TITLE=>"View Notes"  %> Intramural sports:<br>
        <%= image_tag ("notes_icon.png"), :TITLE=>"View Notes"  %> Clubs/activities:<br>
      </p>
      <div class="show_page_font" id="rank_numbers">
        <%= @ranking.campus %><br>
        <%= @ranking.dorms %><br>
        <%= @ranking.library %><br>
        <%= @ranking.majors %><br>
        <%= @ranking.students %><br>
        <%= @ranking.classrooms %><br>
        <%= @ranking.student_center %><br>
        <%= @ranking.food_campus %><br>
        <%= @ranking.food_off_campus %><br>
        <%= @ranking.town %><br>
        <%= @ranking.intramural_sports %><br>
        <%= @ranking.other_activities %><br>
      </div>
    </div>
    </p>
<% end %>
<div id="show_page_left">
  <p><%= "Overall rank: #{@visit.overall_ranking}" %></p>
  <p><span class="visit_category">Visit details</span></p>
  <p class="show_page_font">
   <% if @visit.in_session? %>
   <%= image_tag ("checkmark.png") %> School was in session<br>
   <%end%>
   <% if @visit.tour? %>
   <%= image_tag ("checkmark.png") %> I took a tour<br>
   <%end%>
   <% if @visit.interview? %>
   <%= image_tag ("checkmark.png") %> I did an interview<br>
   <%end%>
   <% if @visit.info_session? %>
   <%= image_tag ("checkmark.png") %> I attended an info session<br>
   <%end%>
   <% if @visit.overnight? %>
   <%= image_tag ("checkmark.png") %> I stayed overnight in a dorm<br>
   <%end%>
   <% if @visit.class_visit? %>
   <%= image_tag ("checkmark.png") %> I attended a class<br>
   <%end%>
  </p>
</div>
<p><span class="visit_category">Contact Info</span>
  <div id="contact_div">
    <p>
     <% unless @visit.contact_name.blank?  %>
     <%=  @visit.contact_name %><br>
     <%=  @visit.contact_email %><br>
     <%=  @visit.contact_phone %>
    </p>
</p>
    <% else %>
     <div id="no_contact">
      <p>C'mon, add a contact.<br>All the cool kids are doing it.</p>
      <%= link_to "Add a Contact", edit_visit_path(@visit), :class => "user_links", :id => "contact_link" %>
     </div>
   <% end %>
  </div>
  <div id="notes_box">
    <p id="notes_p" ></p>
  </div>


