<div class="home_text">
  <p><%= image_tag( "down_arrow.png", :id => "home_arrow") %> Store your campus visit info right here.</p>
  <p><%= image_tag( "down_arrow.png", :id => "home_arrow") %> Who rates a 10? Who gets schooled? You decide.</p>
  <p><%= image_tag( "down_arrow.png", :id => "home_arrow") %> You know you're going to lose that admission<br>&nbsp; officer's card. Stick the info here before you do.</p>
</div>
<div class="home_text" id="home_text_view">
  <p><%= image_tag( "down_arrow.png", :id => "home_arrow") %> Your big stack o' visits.</p>
  <p><%= image_tag( "down_arrow.png", :id => "home_arrow") %> How your big stack stacks up.</p>
  <p><%= image_tag( "down_arrow.png", :id => "home_arrow") %> Dish out the deets, brah.</p>
</div>
<p id="me">another Joe Shep app</p>

